@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 200;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596766/6084ebdf-4040-41f9-b612-c8d0d5f97ec7.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596766/55bc0e6b-fc23-48e1-b3b9-558875134c5a.woff")
      format("woff");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 300;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596737/080126ae-e200-4700-b590-ebfaa9c0b128.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596737/5925b8b4-739f-44a9-8e90-f06b8097a91e.woff")
      format("woff");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5597947/67fbab47-bdd1-459b-8706-7d42debe8cb9.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5597947/6da206ab-4f15-41c4-b18d-5d669585c833.woff")
      format("woff");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 500;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5738927/dc21dba2-7c87-4f7f-8750-b16c3fa919fb.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5738927/18a42fd4-6ca7-4d95-b61b-4f1aa67f608c.woff")
      format("woff");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596922/1df9aeba-11c6-4ec4-b6eb-1667994d0b6b.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596922/ff543787-fb6c-4f37-8543-1a896cfd5f1f.woff")
      format("woff");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 800;
  src:
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596979/a05d446f-c467-432a-92fd-228bb7ad73c9.woff2")
      format("woff2"),
    url("https://wsp.orlen-energy.com.pl/neworlen/fonts/5596979/41eed443-8ad2-46f3-ac13-a026037a18c2.woff")
      format("woff");
}
#orlen_plugin {
  position: relative;
}
#orlen_plugin *,
#orlen_plugin *::before,
#orlen_plugin *::after {
  box-sizing: border-box;
}
#orlen_plugin ._orlen_petrol_main_categories {
  padding: 15px 0;
}
#orlen_plugin ._orlen_petrol_option_flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}
#orlen_plugin ._orlen_petrol_option_btn {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin: 7px 10px 0 0;
  text-decoration: none;
  text-align: center;
  color: #d81e04;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 3px 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  background: none;
}
@media only screen and (max-width: 576px) {
  #orlen_plugin ._orlen_petrol_option_btn {
    padding: 3px 10px;
  }
}
#orlen_plugin ._orlen_petrol_option_btn:hover,
#orlen_plugin ._orlen_petrol_option_btn--active {
  color: #fff;
  background-color: #d81e04;
  border: 1px solid #d81e04;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
}
#orlen_plugin #_orlen_tabs_nav {
  position: relative;
}
#orlen_plugin #_orlen_tabs_nav ._orlen_tabs_list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
#orlen_plugin #_orlen_tabs_nav ._orlen_tabs_list li {
  margin-bottom: -1px;
}
#orlen_plugin #_orlen_tabs_nav .petrol_find,
#orlen_plugin #_orlen_tabs_nav .route_find {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  #orlen_plugin #_orlen_tabs_nav .petrol_find,
  #orlen_plugin #_orlen_tabs_nav .route_find {
    font-size: 15px;
  }
}
@media only screen and (max-width: 360px) {
  #orlen_plugin #_orlen_tabs_nav .petrol_find,
  #orlen_plugin #_orlen_tabs_nav .route_find {
    font-size: 14px;
  }
}
#orlen_plugin #_orlen_tabs_nav .petrol_find {
  margin-right: 50px;
}
@media only screen and (max-width: 576px) {
  #orlen_plugin #_orlen_tabs_nav .petrol_find {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 360px) {
  #orlen_plugin #_orlen_tabs_nav .petrol_find {
    margin-right: 10px;
  }
}
#orlen_plugin #_orlen_tabs_nav ._orlen_active {
  border-bottom: 4px solid #d81e04;
  z-index: 100;
  color: #d81e04;
}
#orlen_plugin #_orlen_petrol_cont {
  padding: 0 22px;
}
#orlen_plugin #_orlen_petrol_cont h4 {
  display: none;
}
#orlen_plugin #_orlen_petrol_cont div .checkbox,
#orlen_plugin #_orlen_petrol_cont div .change-distance {
  display: none;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_find {
  z-index: 1000;
  position: relative;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_route_find {
  z-index: 1000;
  position: relative;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_find_buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_find .form__field {
  position: absolute;
  top: 0;
  left: 48px;
  border-left-style: none;
  right: 48px;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_geosearch_button {
  position: relative;
  width: 48px;
  height: 46px;
  font-size: 0;
  text-indent: -999px;
  border: 1px solid #ccc;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_geosearch_button::before {
  position: absolute;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/target.svg");
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  content: "";
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_search_input {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 46px;
  width: 100%;
  padding: 0 13px;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_search_button {
  position: relative;
  width: 48px;
  font-size: 0;
  background-color: #d81e04;
  text-indent: -999px;
}
#orlen_plugin #_orlen_petrol_cont #_orlen_petrol_search_button::before {
  position: absolute;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/arrow_f.svg");
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  content: "";
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_filters_control {
  padding: 10px 0 25px;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_filters_control a {
  margin-right: 40px;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_filters_control a:last-child {
  margin-right: 0;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_toggle_link {
  position: relative;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_toggle_link:after {
  position: absolute;
  content: "";
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/filters.svg");
  margin-left: 10px;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_toggle_link_count {
  margin-left: 10px;
}
#orlen_plugin #_orlen_petrol_cont ._orlen_petrol_main_categories {
  display: none;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin #_orlen_petrol_cont ._orlen_petrol_main_categories {
    display: block;
  }
}
#orlen_plugin #_orlen_route_find ._orlen_petrol_toggle_link {
  -ms-flex-order: 4;
  order: 4;
}
#orlen_plugin #_orlen_route_find .form__field input {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  padding: 0 20px 0 45px;
  font-size: 18px;
  font-family: "proxima-nova";
  font-weight: 300;
  color: #4d4d4d;
}
#orlen_plugin #_orlen_route_find .form__field input::-webkit-input-placeholder {
  opacity: 1;
}
#orlen_plugin #_orlen_route_find .form__field input::-moz-placeholder {
  opacity: 1;
}
#orlen_plugin #_orlen_route_find .form__field input:focus {
  outline: none;
}
#orlen_plugin #_orlen_route_find .add--field ._orlen_petrol_link {
  position: absolute;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/x.svg") no-repeat
    center center/cover;
  font-size: 0;
  width: 20px;
  height: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
}
#orlen_plugin #_orlen_route_find #_orlen_petrol__add_route_point {
  font-family: "proxima-nova";
  margin: 20px 0;
  text-decoration: none;
  color: #d81e04;
  font-weight: 300;
  display: block;
  position: relative;
  padding-left: 20px;
}
#orlen_plugin #_orlen_route_find #_orlen_petrol__add_route_point:before {
  position: absolute;
  content: "";
  left: 0;
  top: 3px;
  width: 15px;
  height: 20px;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/marker_here.png");
  background-size: cover;
}
#orlen_plugin #_orlen_route_find #_orlen_petrol__add_route_point .circle {
  display: none;
}
#orlen_plugin #_orlen_route_find #_orlen_petrol_route_search_button {
  color: #fff;
  background-color: #d81e04;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
}
#orlen_plugin #_orlen_route_find .form__field {
  margin-bottom: 15px;
  position: relative;
}
#orlen_plugin #_orlen_route_find ._orlen_petrol_main_categories {
  display: none;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin #_orlen_route_find ._orlen_petrol_main_categories {
    display: block;
  }
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way {
  display: none;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5px 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  background: #f2f2f2;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-list li {
  font-family: "proxima-nova";
  font-weight: 300;
  position: relative;
  padding: 8px 25px 8px 30px;
  list-style: none;
  color: #4d4d4d;
}
@media only screen {
  #orlen_plugin #_orlen_route_find ._orlen_rendered_way-list li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin #_orlen_route_find ._orlen_rendered_way-list li {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }
}
#orlen_plugin
  #_orlen_route_find
  ._orlen_rendered_way-list
  li
  ._orlen_alphabet_letter {
  left: 0;
  top: 12px;
}
#orlen_plugin
  #_orlen_route_find
  ._orlen_rendered_way-list
  li:last-child::after {
  display: none;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-list li::after {
  content: "-";
  position: absolute;
  right: 10px;
  top: 8px;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-list p {
  font-size: 0;
  line-height: 1;
  letter-spacing: initial;
  margin: 0;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-list span {
  font-family: "proxima-nova";
  font-weight: 300;
}
@media only screen {
  #orlen_plugin #_orlen_route_find ._orlen_rendered_way-list span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin #_orlen_route_find ._orlen_rendered_way-list span {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-external-outer {
  margin-top: 20px;
  text-align: right;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-external {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #d81e04;
  text-decoration: none;
}
#orlen_plugin #_orlen_route_find ._orlen_rendered_way-external::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-left: 5px;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/launch.svg")
    no-repeat center center/cover;
}
#orlen_plugin #_orlen_route_find ._orlen_alphabet_letter {
  width: 20px;
  height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 12px;
}
#orlen_plugin ._orlen_options {
  opacity: 0;
  visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  transition: 0.2s;
  transition-property: opacity, visibility;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_options {
    width: 365px;
    position: absolute;
    left: auto;
  }
}
@media only screen and (min-width: 1024px) {
  #orlen_plugin ._orlen_options {
    width: 465px;
  }
}
#orlen_plugin ._orlen_options.opened {
  opacity: 1;
  visibility: visible;
  z-index: 2000;
}
#orlen_plugin ._orlen_options.opened ._orlen_petrol_toggle_link {
  position: absolute;
  top: 24px;
  left: 22px;
  text-transform: capitalize;
}
#orlen_plugin ._orlen_options ._orlen__actions {
  padding: 0 22px 24px;
}
#orlen_plugin ._orlen_options .custom-scroll {
  overflow-y: scroll;
  margin-bottom: 30px;
  padding: 0 22px;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_options .custom-scroll {
    height: 480px;
  }
}
@media only screen and (max-width: 768px) {
  #orlen_plugin ._orlen_options .custom-scroll {
    margin-top: 60px;
  }
}
#orlen_plugin ._orlen_options .js-saveFilters {
  width: 100%;
  border: 1px solid #d81e04;
  background-color: transparent;
  padding: 15px;
  text-transform: uppercase;
  color: #d81e04;
  cursor: pointer;
  font-family: "proxima-nova";
  font-size: 16px;
}
#orlen_plugin ._orlen_options ._orlen_petrol_filters_control {
  margin: 20px 0 0;
}
#orlen_plugin ._orlen_options #_orlen_promoted_filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -25px;
}
#orlen_plugin ._orlen_options ._orlen_options__title {
  display: none;
  padding: 50px 22px 0;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_options ._orlen_options__title {
    display: block;
  }
}
#orlen_plugin ._orlen_options ._orlen_petrol_title {
  font-family: "proxima-nova";
  font-weight: 300;
  margin: 30px 0;
  color: #000;
}
@media only screen {
  #orlen_plugin ._orlen_options ._orlen_petrol_title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin ._orlen_options ._orlen_petrol_title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }
}
#orlen_plugin ._orlen_options #_orlen_filters dd,
#orlen_plugin ._orlen_options #_orlen_promoted_filters li,
#orlen_plugin ._orlen_options #_orlen_petrol_stations dd {
  margin: 25px 0;
}
#orlen_plugin ._orlen_options #_orlen_filters input,
#orlen_plugin ._orlen_options #_orlen_promoted_filters input,
#orlen_plugin ._orlen_options #_orlen_petrol_stations input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
#orlen_plugin ._orlen_options .checkbox {
  position: relative;
}
#orlen_plugin ._orlen_options .checkbox label {
  font-family: "proxima-nova";
  font-weight: 300;
  color: #000;
}
@media only screen {
  #orlen_plugin ._orlen_options .checkbox label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin ._orlen_options .checkbox label {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.18px;
  }
}
#orlen_plugin ._orlen_options .checkbox input:checked + label::before {
  background-color: #d81e04;
  border-color: #d81e04;
}
#orlen_plugin ._orlen_options .checkbox input:checked + label::after {
  visibility: visible;
  opacity: 1;
}
#orlen_plugin ._orlen_options .checkbox label {
  cursor: pointer;
}
#orlen_plugin ._orlen_options .checkbox label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: sub;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}
#orlen_plugin ._orlen_options .checkbox label::after {
  content: "";
  width: 8px;
  height: 13px;
  position: absolute;
  bottom: 8px;
  left: 5px;
  visibility: hidden;
  opacity: 0;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: opacity 0.2s ease;
  border-radius: 1px;
}
#orlen_plugin ._orlen_options .checkbox label:hover ._orlen_petrol_copy {
  opacity: 1;
  visibility: visible;
}
#orlen_plugin ._orlen_options #_orlen_petrol_stations dd .checkbox label img {
  vertical-align: bottom;
  min-height: 16px;
  max-height: 36px;
  min-width: 50px;
  max-width: 110px;
}
#orlen_plugin #_orlen_response,
#orlen_plugin ._orlen_petrol_poi-outer {
  z-index: 1000;
  overflow-y: auto;
  padding: 0 22px;
}
#orlen_plugin #_orlen_response .oneResult,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult {
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 15px;
}
#orlen_plugin #_orlen_response .oneResult__img,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__img {
  width: 45px;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  margin-right: 25px;
}
#orlen_plugin #_orlen_response .oneResult__info,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__info {
  width: 100%;
}
#orlen_plugin #_orlen_response .oneResult__info-details,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__info-details {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin: 0 0 10px;
  color: #4d4d4d;
}
#orlen_plugin #_orlen_response .oneResult__link,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__link {
  cursor: pointer;
  border-top: 1px solid #ccc;
}
#orlen_plugin #_orlen_response .oneResult__additional-info,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__additional-info {
  text-align: right;
  padding-top: 30px;
  min-width: 80px;
}
#orlen_plugin #_orlen_response .oneResult__additional-info ._orlen_petrol_link,
#orlen_plugin
  ._orlen_petrol_poi-outer
  .oneResult__additional-info
  ._orlen_petrol_link {
  position: relative;
  padding-right: 20px;
}
#orlen_plugin
  #_orlen_response
  .oneResult__additional-info
  ._orlen_petrol_link:after,
#orlen_plugin
  ._orlen_petrol_poi-outer
  .oneResult__additional-info
  ._orlen_petrol_link:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/launch.svg")
    no-repeat top right/cover;
}
#orlen_plugin #_orlen_response .oneResult__distance,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__distance {
  font-weight: bold;
}
#orlen_plugin #_orlen_response .oneResult__open,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__open {
  margin-top: 5px;
}
#orlen_plugin #_orlen_response .oneResult__open span,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__open span {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  position: relative;
  padding-left: 24px;
  display: inline-block;
  color: #000;
}
#orlen_plugin #_orlen_response .oneResult__open span:before,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__open span:before {
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/24h.svg") no-repeat
    top right/cover;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
}
#orlen_plugin #_orlen_response .oneResult__info strong,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__info strong {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  #orlen_plugin #_orlen_response .oneResult__info strong,
  #orlen_plugin ._orlen_petrol_poi-outer .oneResult__info strong {
    font-size: 21px;
  }
}
#orlen_plugin #_orlen_response .oneResult__info strong:after,
#orlen_plugin ._orlen_petrol_poi-outer .oneResult__info strong:after {
  top: 6px;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/arrow_b.svg")
    no-repeat center center/cover;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 13px;
}
#orlen_plugin #_orlen_response .show_response_loader,
#orlen_plugin ._orlen_petrol_poi-outer .show_response_loader {
  width: 32px;
  height: 32px;
  margin: 20px auto;
  background: url("https://wsp.orlen-energy.com.pl/plugin/_img/ajax-loader.gif")
    no-repeat right center;
}
#orlen_plugin #_orlen_response .show_response_loader-text,
#orlen_plugin ._orlen_petrol_poi-outer .show_response_loader-text {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  #orlen_plugin #_orlen_response.orlen_result-rendered {
    display: none !important;
  }
}
#orlen_plugin ._orlen_petrol_poi-outer {
  display: none;
  background: #fff;
  padding-top: 40px;
  border-radius: 20px 20px 0 0;
}
#orlen_plugin ._orlen_petrol_poi-outer.orlen_result-rendered {
  display: block;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_petrol_poi-outer.orlen_result-rendered {
    display: none !important;
  }
}
#orlen_plugin ._orlen_petrol_poi {
  max-height: 480px;
  overflow-y: auto;
}
#orlen_plugin ._orlen_petrol_poi .oneResult__link:first-child {
  border-top: 0;
}
#orlen_plugin ._orlen_details {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-property: opacity, visibility;
  display: none;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_details {
    width: 365px;
    position: absolute;
    left: auto;
    right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  #orlen_plugin ._orlen_details {
    width: 465px;
  }
}
#orlen_plugin ._orlen_details.visible {
  opacity: 1;
  visibility: visible;
  z-index: 2000;
  display: block;
}
#orlen_plugin ._orlen_details ._orlen__actions {
  padding: 24px 22px 22px;
}
#orlen_plugin ._orlen_details .custom-scroll {
  position: absolute;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
  padding: 0 22px;
  width: 100%;
}
#orlen_plugin ._orlen_details .content__list-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin: 0;
}
#orlen_plugin ._orlen_details .content__list-main:first-of-type {
  border-top: 1px solid #ccc;
}
#orlen_plugin ._orlen_details .content__list-main h4 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
#orlen_plugin ._orlen_details .content__list-main ._orlen_details__list-title {
  display: none;
}
#orlen_plugin ._orlen_details .content__list {
  list-style-type: none;
  padding: 0;
}
#orlen_plugin ._orlen_details .content__list h4 {
  font-weight: 500;
}
#orlen_plugin ._orlen_details .content__list li {
  margin-bottom: 16px;
  font-weight: 300;
}
#orlen_plugin ._orlen_details .content__list-petrol {
  margin: 0 -5px;
}
#orlen_plugin ._orlen_details .content__list-petrol h4 {
  margin-left: 5px;
  font-weight: 500;
}
#orlen_plugin ._orlen_details .content__list-petrol li {
  margin: 0 5px 9px;
  font-weight: 300;
}
#orlen_plugin ._orlen_details .content__list-petrol img {
  max-width: 48px;
}
#orlen_plugin ._orlen_details .content__list-card {
  margin: 0 -5px;
}
#orlen_plugin ._orlen_details .content__list-card h4 {
  margin-left: 5px;
  font-weight: 500;
}
#orlen_plugin ._orlen_details .content__list-card li {
  margin: 5px;
  font-weight: 300;
}
#orlen_plugin ._orlen_details .content__list-card img {
  border: 1px solid #ccc;
}
#orlen_plugin ._orlen_details .content__dsc-wraper {
  display: -ms-flexbox;
  display: flex;
}
#orlen_plugin ._orlen_details .content__dsc__photo {
  width: 70px;
  margin-right: 30px;
}
#orlen_plugin ._orlen_details .content__dsc__text {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #4d4d4d;
}
#orlen_plugin ._orlen_details .content__dsc-title {
  margin: 0;
  margin-bottom: 20px;
}
#orlen_plugin ._orlen_details .content__dsc-link {
  display: inline-block;
  margin: 15px 0 25px;
  position: relative;
}
#orlen_plugin ._orlen_details .content__dsc-link:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  right: -20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/launch.svg")
    no-repeat top right;
}
#orlen_plugin #_orlen_petrol_stations {
  display: none;
}
#orlen_plugin #_orlen_petrol_search_p {
  font-family: "proxima-nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  position: relative;
  border: 1px solid #ccc;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin #_orlen_petrol_search_p {
    height: 690px;
  }
}
#orlen_plugin #_orlen_petrol_search_p #_orlen_route_find {
  display: none;
}
#orlen_plugin #_orlen_tabs_nav {
  z-index: 1000;
  padding: 40px 22px 35px;
  font-family: "proxima-nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}
#orlen_plugin #_orlen_tabs_nav .route_find {
  font-weight: 600;
}
#orlen_plugin #_orlen_petrol_map {
  width: 100%;
  height: 100%;
}
#orlen_plugin #_orlen_petrol_map_canvas {
  width: 100%;
  height: 100%;
}
#orlen_plugin #_orlen_petrol_search_input {
  font-size: 18px;
  font-family: "proxima-nova";
  font-weight: 300;
  color: #4d4d4d;
}
#orlen_plugin #_orlen_petrol_search_input::-webkit-input-placeholder {
  opacity: 1;
}
#orlen_plugin #_orlen_petrol_search_input::-moz-placeholder {
  opacity: 1;
}
#orlen_plugin #_orlen_petrol_search_input:focus {
  outline: none;
}
#orlen_plugin #_orlen_input {
  display: none;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
#orlen_plugin #_orlen_response_route {
  display: none;
}
#orlen_plugin_fade {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
#orlen_plugin_fade span {
  font-family: "proxima-nova";
  font-weight: 700;
}
@media only screen {
  #orlen_plugin_fade span {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 768px) {
  #orlen_plugin_fade span {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.24px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin_fade span {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.24px;
  }
}
#orlen_plugin ._orlen_petrol_link {
  font-family: "proxima-nova";
  color: #d81e04;
  text-decoration: none;
  font-weight: 300;
}
#orlen_plugin ._orlen_petrol_clear_filter {
  display: none;
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-decoration: none;
  color: #4d4d4d;
  position: relative;
}
#orlen_plugin ._orlen_petrol_clear_filter:after {
  position: absolute;
  content: "";
  margin-top: 1px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/x.svg") no-repeat
    center center/cover;
  margin-left: 10px;
}
#orlen_plugin ._orlen_options__title {
  font-family: "proxima-nova";
  font-weight: 700;
}
@media only screen {
  #orlen_plugin ._orlen_options__title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_options__title {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin ._orlen_options__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_petrol_column-wrapper {
    display: -ms-flexbox;
    display: flex;
  }
}
#orlen_plugin ._orlen_petrol_column-result {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_petrol_column-result {
    -ms-flex-preferred-size: 365px;
    flex-basis: 365px;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}
@media only screen and (min-width: 1024px) {
  #orlen_plugin ._orlen_petrol_column-result {
    -ms-flex-preferred-size: 465px;
    flex-basis: 465px;
  }
}
#orlen_plugin ._orlen_petrol_column-result--overflow {
  overflow: hidden;
}
#orlen_plugin ._orlen_petrol_column-map {
  width: 100%;
  height: 500px;
}
@media only screen and (min-width: 768px) {
  #orlen_plugin ._orlen_petrol_column-map {
    height: 100%;
  }
}
#orlen_plugin ._orlen_petrol_copy {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/copy.svg")
    no-repeat center center/cover;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-property: opacity, visibility;
}
#orlen_plugin ._orlen_petrol_copy_state {
  font-size: 11px;
  line-height: 1;
  margin-left: 5px;
}
#orlen_plugin .icon--arrow-back {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("https://wsp.orlen-energy.com.pl/neworlen/img/arrow_b.svg");
}
#orlen_plugin .oneResult__info > strong {
  font-family: "proxima-nova";
  font-weight: 700;
}
@media only screen {
  #orlen_plugin .oneResult__info > strong {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 768px) {
  #orlen_plugin .oneResult__info > strong {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.21px;
  }
}
@media only screen and (min-width: 1280px) {
  #orlen_plugin .oneResult__info > strong {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.21px;
  }
}
